/* BACKGROUND COLOR */

.bg-light{
    background-color: black !important;
}
html{

    background-color: black;
}

/* BACKGROUND SIZE
html{
    margin: 5%;
}  */

/* IMAGEM */

.eu_imagem{
    margin: 1rem 7.5rem;
    border: 3px white dotted;
}