/* BACKGROUND COLOR */

.bg-light{
    background-color: black !important;
}
html{

    background-color: black;
}

/* BACKGROUND SIZE
html{
    margin: 5%;
}  */

/* IMAGEM */

.eu_imagem{
    
    width: 50%;
    margin: 1rem ;
    border: 3px white dotted;
}

/* TEXTO FOTO */
.texto-foto{
    color: aliceblue;
}