/* BACKGROUND COLOR */

.bg-light{
    background-color: black !important;
}
html{

    background-color: black;
}

/* BACKGROUND SIZE
html{
    margin: 5%;
}  */

/* NOME */

.nome-proprio{
    color: white;
    text-align: center;
}

.texto-nome{
        border-bottom: 1px red dotted;
}

/* IMAGEM */

.eu_imagem{

    width: 50%;
    margin: 1rem ;
    border: 3px white dotted;
}
.foto .eu_imagem{
    width: fit-content; 
}

/* TEXTO FOTO */
.texto-foto{
    width: 600px;
    margin: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: large;

}
.texto-foto{
    border: 3px blue dotted;
}